
@media only screen and (max-width: 860px) {

   h6 {
    font-size: 15px;
   }

   .right {
    width: 100%;
    display: block;
   }

   .left {
    width: 100%;
    display: block;
    padding-top: 0px;
   }

   .electric_lady {
     height: 500px;

   }

   .hopeless_utopian {
    height: 500px;

   }

   .skills{
     background-position-y: 0px;
     height: 400px;
  }
}




@media only screen and (max-width: 1200px) {
  .mobile-port {
    display: none;
  }


}

@media only screen and (max-width: 1023px) {
  .heading {
     left: 10%;
  }

  canvas {
    display: none;
  }

.mobile-port {
  display: none;
}

}

@media only screen and (max-width: 767px) {
  .mobile-port {
    display: none;
  }


    h1 {
       display: none;
    }

    canvas {
      display: none;
    }



    .pic {
        display: none;
    }

    .quote {
        display:none;
    }

  .heading {
     left: 10%;
  }

  .box {
    display: none;
  }
  .quote {
    display: none;
  }

  .detail {
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 16px !important;
    color: gray ! important;
    margin: 0px !important;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    weight: 300;
    width: 300px !important;
    top: 20% !important;
    left: 10% !important;
    position: absolute;
  }

  .pink {
    width: 100px;
    height: 100px;
    background: #ECE1DF;
    left: 65%;
    top: 5%;
    position: absolute;

  }

  h2 {
    font-size: 20px;
  }

  .lnk {
    display: none;
  }






}

@media only screen and (max-width: 480px) {


    h1 {
       display: none;
    }

    canvas {
      display: none;
    }



    .pic {
        display: none;
    }

    .quote {
        display:none;
    }

     .heading {
        left: 10%;
     }

     .box {
       display: none;
     }

     .quote {
       display: none;
     }

     .detail {
       font-weight: 300;
       letter-spacing: 6px;
       font-size: 16px !important;
       color: gray ! important;
       margin: 0px !important;
       text-transform: uppercase;
       font-family: 'Ubuntu', sans-serif;
       weight: 300;
       width: 300px !important;
       top: 20% !important;
       left: 10% !important;
       position: absolute;
     }

     .pink {
       width: 100px;
       height: 100px;
       background: #ECE1DF;
       left: 65%;
       top: 5%;
       position: absolute;

     }

     h2 {
       font-size: 20px;
     }

     .lnk {
       display: none;
     }





 .mobile-port {
   font-size:12px;
 }

 .toggle {
    width: 40%;
 }

nav a {
  font-size: 12px;
}

nav {
  margin-left: 75px;
}





}
